GUYS = [
    {
        'id': '<...>',
        'name': '<...>',
        'email': '<...>',
        'shares': 13

    },
    {
        'id': '<...>',
        'name': '<...>',
        'email': '<...>',
	'password': '<...>'
    },
    
    ...
]

PASSWORD = '*******'
SITE_KEY = '*******'
API_KEY = '*******'
